[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restful = "*"
flask-migrate = "*"
flask-cors = "*"
sqlalchemy = "*"
python-dotenv = "*"
flask-sqlalchemy = "*"
werkzeug = "*"
psycopg2-binary = "*"
psycopg = "*"
sqlalchemy-serializer = "*"
flask-login = "*"

[dev-packages]

[requires]
python_version = "3.8"
